/* fefe OPs */
.thread_OP .text p, .thread_OP .text blockquote {
	margin: 1em 0;
}

.thread_OP .text > div > p:first-child {
	margin: 0 0 1em 0;
}

/* fefe updates diff */
	table.diff     {font:10pt monospace; border:medium;}
	.diff_header   {background-color:#e0e0e0}
	td.diff_header {text-align:right}
	.diff_next     {background-color:#c0c0c0}
	.diff_add      {background-color:#aaffaa}
	.diff_chg      {background-color:#ffff77}
	.diff_sub      {background-color:#ffaaaa}
